/* Wifi details */
#define WIFI_SSID "<your wifi ssid>"
#define WIFI_PASSWD "<your wifi password>"

/* MQTT broker details */
#define MQTT_URL "<url for your mqtt broker - e.g. mqtts://iot.eclipse.org:8883"
#define MQTT_USERNAME "<your mqtt username>"
#define MQTT_PASSWD "<your mqtt password>"